code.descclassname {
  padding: 0;
  background-color: transparent;
}
code.descname {
  font-weight: 700;
  padding: 0;
  background-color: transparent;
}

dd {
  margin: 4px 0 10px 2em;
}

dd > table.field-list .field-name {
  display: block;
  font-size: 0.86em;
  color: rgba(245, 88, 38, 0.8);
  padding: 0;
  text-align: left;
  text-transform: uppercase;
}

dd > table.field-list .field-body {
  display: block;
  padding: 0 0 0 1em;
}

.yue dd > p {
  margin-bottom: 0.86em;
}

dl.class dt,
dl.method dt,
dl.data dt,
dl.exception dt,
dl.function dt {
  padding: 5px;
  color: rgba(0, 0, 0, 0.4);
  border-top: 2px solid rgba(245, 88, 38, 0.4);
  background: rgba(245, 88, 38, 0.05);
}

dl.class dt > em,
dl.method dt > em,
dl.data dt > em,
dl.exception dt > em,
dl.function dt > em {
  font-size: 0.98em;
  color: rgba(0, 0, 0, 0.68);
}
