body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 400 16px/1.42 "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
  color: rgba(0, 0, 0, 0.68);
}

img {
  max-width: 100%;
  vertical-align: middle;
}

h1, h2, h3, strong {
  color: rgba(0, 0, 0, 0.9);
}

a {
  color: rgba(0, 0, 0, 0.86);
  text-decoration: none;
}

.inner {
  max-width: 1080px;
  padding: 0 20px;
  margin: 0 auto;
}

.section:after,
.inner:after,
.site-nav:after {
  display: table;
  content: '';
  clear: both;
}

.site-head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.site-head .brand {
  float: left;
  display: block;
  font-size: 18px;
  padding: 18px 0;
  font-weight: 900;
  letter-spacing: 1px;
}

.site-head .site-nav {
  float: right;
}

.site-head .menu {
  display: none;
}

.site-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-nav li {
  display: inline-block;
}

.site-nav li + li {
  margin-left: 30px;
}

.site-nav a {
  display: inline-block;
  padding: 20px 0 17px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.86);
  letter-spacing: 0.01em;
  border-bottom: 3px solid transparent;
  transition: color,border-color 0.2s ease;
}

.site-head a:hover {
  color: rgba(0, 0, 0, 0.68);
  border-color: rgba(0, 0, 0, 0.68);
}

.main {
  display: flex;
  max-width: 1100px;
  padding-top: 20px;
  margin: 0 auto;
}

.sidebar {
  flex: 0 0 260px;
  padding: 10px 30px 10px 15px;
  box-sizing: border-box;
}

.sidebar a {
  text-decoration: none;
  color: #334433;
  border-bottom: 1px solid transparent;
}
.sidebar a:hover {
  border-color: rgba(0, 0, 0, 0.1);
}

.sidebar h3 {
  margin: 1em 0 0.2em;
  letter-spacing: -0.06em;
  color: #252b31;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
}

.sidebar h1 > a,
.sidebar h2 > a,
.sidebar h3 > a {
  border-bottom-width: 0;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  margin-top: 4px;
}

.sidebar li > ul {
  padding-left: 1em;
}

.sidebar li > a {
  text-decoration: none;
  border-bottom-width: 2px;
}

.project {
  padding: 1em 0;
}

.project_desc {
  margin: 0 0 1em;
  line-height: 1.2;
  font-size: 1.1em;
  font-weight: 300;
  color: #9ea0a6;
}

.project > h1 {
  margin: 0.6em 0;
  font-size: 1.8em;
}

.project > a {
  border-width: 0;
}

.project .logo {
  display: block;
}

.project .logo > img {
  width: 80%;
}

.project .logo + h1 {
  font-size: 18px;
}

.content {
  flex-grow: 1;
  padding: 0 20px;
  overflow: hidden;
}

.content > footer {
  font-size: 0.86em;
  color: #999;
  padding: 20px 0;
}

.content > footer:before {
  display: block;
  margin-bottom: 1em;
  content: '';
  width: 100px;
  border-top: 4px solid rgba(0, 0, 0, 0.1);
}

@media (max-width: 480px) {
  .site-head {
    text-align: center;
  }
  .site-head .brand {
    float: none;
    padding: 5px 0;
  }
  .site-head .menu {
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 4px 6px;
    border-radius: 2px;
    outline: none;
  }
  .site-head .menu:before {
    content: '→';
  }
  .expand .site-head .menu:before {
    content: '←';
  }
  .site-head .site-nav {
    float: none;
    max-height: 45px;
    overflow: hidden;
  }
  .site-nav ul {
    white-space: nowrap;
    overflow-x: auto;
    padding-bottom: 2em;
    -webkit-overflow-scrolling: touch;
  }
  .site-nav li + li {
    margin-left: 16px;
  }
  .site-nav a {
    padding: 10px 0;
  }
  .main {
    position: relative;
    display: block;
    overflow: hidden;
  }
  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    z-index: 9;
    width: 85%;
    max-width: 320px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transform: translate3d(-340px, 0, 0);
    transition: transform 0.2s ease;
  }
  .expand .sidebar {
    transform: translate3d(0, 0, 0);
  }
  .project .logo>img {
    width: 50%;
  }
}


body[data-page="search"] input[name="q"],
.rst-other-versions input[name="q"] {
  border: 2px solid rgba(0, 0, 0, 0.86);
  padding: 0 10px;
  line-height: 38px;
  outline: none;
  box-sizing: border-box;
}

body[data-page="search"] input[type="submit"] {
  line-height: 42px;
}

.rst-other-versions input[name="q"] {
  border: 0;
}
