body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 400 16px/1.42 "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
  color: rgba(0, 0, 0, 0.68);
}

img {
  max-width: 100%;
  vertical-align: middle;
}

h1, h2, h3, strong {
  color: rgba(0, 0, 0, 0.9);
}

a {
  color: rgba(0, 0, 0, 0.86);
  text-decoration: none;
}

.inner {
  max-width: 1080px;
  padding: 0 20px;
  margin: 0 auto;
}

.inner:after,
.site-nav:after {
  display: table;
  content: '';
  clear: both;
}

.site-head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.site-head .brand {
  float: left;
  display: block;
  font-size: 18px;
  padding: 18px 0;
  text-decoration: none;
  font-weight: 900;
  letter-spacing: 1px;
}

.site-head .site-nav {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-nav li {
  display: inline-block;
}

.site-nav li + li {
  margin-left: 30px;
}

.site-nav a {
  display: inline-block;
  padding: 20px 0 17px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.86);
  letter-spacing: 0.01em;
  border-bottom: 3px solid transparent;
  transition: color,border-color 0.2s ease;
}

.site-head a:hover {
  color: rgba(0, 0, 0, 0.68);
  border-color: rgba(0, 0, 0, 0.68);
}

.main {
  display: flex;
  max-width: 1100px;
  padding-top: 20px;
  margin: 0 auto;
}

.sidebar {
  padding: 10px 30px 10px 15px;
  flex: 0 0 260px;
  box-sizing: border-box;
}

.sidebar a {
  text-decoration: none;
  color: #334433;
  border-bottom: 1px solid transparent;
}
.sidebar a:hover {
  border-color: rgba(0, 0, 0, 0.1);
}

.sidebar h3 {
  margin: 1em 0 0.2em;
  letter-spacing: -0.06em;
  color: #252b31;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
}

.sidebar h1 > a,
.sidebar h2 > a,
.sidebar h3 > a {
  border-bottom-width: 0;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  margin-top: 4px;
}

.sidebar li > ul {
  padding-left: 1em;
}

.sidebar li > a {
  text-decoration: none;
  border-bottom-width: 2px;
}

.project {
  padding: 1em 0;
}

.project_desc {
  margin: 0 0 1em;
  line-height: 1.2;
  font-size: 1.1em;
  font-weight: 300;
  color: #9ea0a6;
}

.project > h1 {
  margin: 0.6em 0;
  font-size: 1.8em;
}

.project > a {
  border-width: 0;
}

.project .logo {
  display: block;
}

.project .logo > img {
  width: 80%;
}

.project .logo + h1 {
  font-size: 18px;
}

.content {
  flex-grow: 1;
  padding: 0 20px;
}

.content > footer {
  font-size: 0.86em;
  color: #999;
  padding: 20px 0;
}

@media (max-width: 480px) {
  .site-head {
    text-align: center;
  }
  .site-head .brand {
    float: none;
  }
  .site-head .site-nav {
    float: none;
  }
}
