a.headerlink {
  margin-left: 1px;
  color: rgba(0, 0, 0, 0.24);
  text-decoration: none;
  visibility: hidden;
}
a.headerlink:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink,
caption:hover > a.headerlink,
p.caption:hover > a.headerlink,
div.code-block-caption:hover > a.headerlink {
  visibility: visible;
}

.admonition {
  position: relative;
  padding: 40px 24px 18px 24px;
  margin: 2em 0;
  border-left: 4px solid #ddd;
  background-color: #f8f8f8;
}

.admonition:before {
  position: absolute;
  content: '!';
  top: 14px;
  left: -12px;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #ddd;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
}

.admonition > .admonition-title {
  position: absolute;
  margin: 0;
  top: 12px;
  left: 24px;
  font-size: 0.8em;
  text-transform: uppercase;
}

.admonition > .last {
  margin-bottom: 0;
}

.admonition.note {
  border-color: #03A9F4;
}
.admonition.note:before {
  background-color: #03A9F4;
}

.admonition.warning {
  border-color: #F7BA2A;
}
.admonition.warning:before {
  background-color: #F7BA2A;
}

.button {
  display: inline-block;
  padding: 1.2em 2em;
  font-weight: 700;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.98);
  border: 0;
  transition: background-color 100ms;
}

.button:hover {
  background-color: #3E7FCB;
}
