a.headerlink {
  margin-left: 1px;
  color: rgba(0, 0, 0, 0.24);
  text-decoration: none;
  visibility: hidden;
  border-width: 0;
}
a.headerlink:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink,
caption:hover > a.headerlink,
p.caption:hover > a.headerlink,
div.code-block-caption:hover > a.headerlink {
  visibility: visible;
}

a > .std-ref {
  font-weight: 700;
}

.admonition {
  position: relative;
  padding: 40px 24px 18px 24px;
  margin: 2em 0;
  border-left: 4px solid #ddd;
  background-color: #f8f8f8;
}

.admonition:before {
  position: absolute;
  content: '#';
  top: 14px;
  left: -12px;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #ddd;
  text-align: center;
  font: normal bold 14px/20px "Helvetica Neue", Arial, sans-serif;
}

.admonition > .admonition-title {
  position: absolute;
  margin: 0;
  top: 12px;
  left: 24px;
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
}

.admonition > .last {
  margin-bottom: 0;
}

.admonition.note {
  border-color: #03A9F4;
}
.admonition.note:before {
  background-color: #03A9F4;
}

.admonition.warning {
  border-color: #F7BA2A;
  background-color: rgba(247, 186, 42, 0.1);
}
.admonition.warning:before {
  background-color: #F7BA2A;
}
.admonition.warning > .admonition-title {
  font-weight: 700;
  color: #F1B52A;
}

.versionmodified {
  color: rgba(0, 0, 0, 0.86);
  font-weight: 700;
}

.deprecated {
  position: relative;
  padding: 12px 24px;
  margin: 2em 0;
  border-left: 4px solid #FF612F;
  background-color: rgba(255, 92, 47, 0.1);
}

.deprecated:before {
  position: absolute;
  content: '!';
  top: 12px;
  left: -12px;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #FF612F;
  text-align: center;
  font: normal bold 14px/20px "Helvetica Neue", Arial, sans-serif;
}

.deprecated > p {
  margin: 0;
}

.button {
  display: inline-block;
  padding: 1.2em 2em;
  font-weight: 700;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.98);
  border: 0;
  transition: background-color 100ms;
}

.input-group {
  display: flex;
  border: 2px solid rgba(0, 0, 0, 0.86);
}

.input-group > input[type="text"] {
  flex-grow: 1;
  outline: none;
  border: 0;
  padding: 0.6em 10px;
}

.input-group > button {
  display: inline-block;
  padding: 0 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.86);
  border: 0;
  transition: background-color 100ms;
  cursor: pointer;
}

.highlighted {
  padding: 1px 4px;
  opacity: 0.6;
  color: white;
  background-color: rgba(0, 0, 0, 0.68);
}
