.t-sidebar {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  background: #f9f9f9;
  border-right: 1px solid #efefef;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}
.t-sidebar .inner {
  width: 260px;
  padding: 20px 40px 40px;
}

.t-sidebar a {
  text-decoration: none;
  color: #334433;
  border-bottom: 1px solid transparent;
}
.t-sidebar a:hover {
  border-color: rgba(0, 0, 0, 0.1);
}

.t-sidebar h3 {
  margin: 1em 0 0.2em;
  letter-spacing: -0.06em;
  color: #252b31;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
}

.t-sidebar h1 > a,
.t-sidebar h2 > a,
.t-sidebar h3 > a {
  border-bottom-width: 0;
}

.t-sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.t-sidebar li {
  margin-top: 4px;
}

.t-sidebar li > ul {
  padding-left: 1em;
}

.t-sidebar li > a {
  text-decoration: none;
  border-bottom-width: 2px;
}

.t-sidebar_close {
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
}

.t-content {
  margin-left: 340px;
  padding: 20px 80px 0;
  overflow: hidden;
}

.t-content > footer {
  font-size: 0.86em;
  color: #999;
  padding: 20px 0;
}

.t-content > footer:before {
  display: block;
  margin-bottom: 1em;
  content: '';
  width: 100px;
  border-top: 4px solid rgba(0, 0, 0, 0.1);
}

.t-content > footer a {
  color: #666;
  text-decoration: underline;
}

.t-head {
  display: none;
}

.t-pagination {
  margin-top: 1em;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}

.t-pagination a {
  border: 0;
  font-weight: 500;
}

/* responsive */

@media (max-width: 960px) {
  .t-sidebar {
    transform: translate3d(-341px, 0, 0);
    transition: transform 0.2s ease;
  }
  ._expand .t-sidebar {
    transform: translate3d(0, 0, 0);
    max-width: 100%;
  }
  ._expand .t-sidebar_close {
    display: block;
  }
  .t-content {
    padding: 64px 20px 0;
    max-width: 840px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .t-head {
    display: block;
    position: fixed;
    width: 100%;
    padding: 1em 20px;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 1px solid #efefef;
    background: white;
    z-index: 9;
  }
  .t-head_menu {
    position: absolute;
    top: 1em;
    left: 2em;
  }
  .t-sidebar_close svg,
  .t-head_menu svg {
    width: 30px;
    fill: #ccc;
  }
  .t-head_logo {
    font-weight: 600;
    color: var(--color-heading);
  }
  .t-head_logo:hover {
    text-decoration: none;
  }
  .t-head_logo img {
    vertical-align: middle;
    margin-right: 6px;
    width: 30px;
    height: 30px;
  }
  .t-content :target::before {
    content: "";
    display: block;
    height: 60px;
    margin: -60px 0 0;
  }
}
