/* styles belong to sphinx */


/* -- headerlink -- */
a.headerlink {
  margin-left: 1px;
  color: rgba(0, 0, 0, 0.24);
  text-decoration: none;
  visibility: hidden;
  border-width: 0;
}
a.headerlink:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink,
caption:hover > a.headerlink,
p.caption:hover > a.headerlink,
div.code-block-caption:hover > a.headerlink {
  visibility: visible;
}

/* -- TOC begin -- */
a.toc-backref {
  border: 0;
}
.contents {
  display: inline-block;
  padding: 16px 40px 16px 0;
  background: #f9f9f9;
  min-width: 240px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
}
.contents .topic-title {
  color: rgba(0,0,0,.4);
  padding-left: 16px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.contents ul,
.contents li > ul,
.contents li > ul ul {
  list-style-type: none;
}
.contents ul {
  margin: 0;
}
.contents li {
  margin-top: 4px;
}

.contents a {
  border-bottom: 0;
  color: rgba(0,0,0,.5);
}

/* -- TOC end -- */


/* -- API references begin -- */
code.descclassname {
  padding: 0;
  background-color: transparent;
}
code.descname {
  font-weight: 700;
  padding: 0;
  background-color: transparent;
}

dd {
  margin: 4px 0 10px 2em;
}

dd > table.field-list .field-name {
  display: block;
  font-size: 0.86em;
  color: var(--color-code);
  padding: 0;
  text-align: left;
  text-transform: uppercase;
}

dd > table.field-list .field-body {
  display: block;
  padding: 0 0 0 1em;
}

dl.class dt,
dl.method dt,
dl.data dt,
dl.exception dt,
dl.function dt {
  padding: 5px;
  color: rgba(0, 0, 0, 0.4);
  border-top: 2px solid var(--color-autodoc-border);
  background: var(--color-autodoc-background);
}

dl.class dt code,
dl.method dt code,
dl.data dt code,
dl.exception dt code,
dl.function dt code {
  color: var(--color-code);
}

dl.class dt > em,
dl.method dt > em,
dl.data dt > em,
dl.exception dt > em,
dl.function dt > em {
  font-size: 0.98em;
  color: rgba(0, 0, 0, 0.68);
}
/* -- API references end -- */

/* -- extra -- */
.hlist td {
  vertical-align: top;
}

p.centered {
  text-align: center;
}
