a.logo {
  display: block;
  font-size: 1.2em;
  font-weight: 900;
  letter-spacing: 1px;
  text-decoration: none;
  margin-bottom: 1em;
  border: 0;
}
.logo img {
  vertical-align: middle;
  margin-right: 6px;
  width: 40px;
  height: 40px;
}
.logo_desc {
  margin: 1em 0;
  color: rgba(0, 0, 0, 0.6);
}

.github_wrap {
  margin: 1em 0;
}
.github_wrap .github {
  display: inline-block;
  border: 1px solid #d5d5d5;
  background-image: linear-gradient(to bottom,#fcfcfc 0,#eee 100%);
  padding: 6px 14px;
  border-radius: 5px;
}
.github > span {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 1;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}
.github_icon {
  width: 30px;
  height: 30px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjQwcHgiIGhlaWdodD0iNDBweCIgdmlld0JveD0iMTIgMTIgNDAgNDAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMTIgMTIgNDAgNDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiMzMzMzMzMiIGQ9Ik0zMiAxMy40Yy0xMC41IDAtMTkgOC41LTE5IDE5YzAgOC40IDUuNSAxNS41IDEzIDE4YzEgMC4yIDEuMy0wLjQgMS4zLTAuOWMwLTAuNSAwLTEuNyAwLTMuMiBjLTUuMyAxLjEtNi40LTIuNi02LjQtMi42QzIwIDQxLjYgMTguOCA0MSAxOC44IDQxYy0xLjctMS4yIDAuMS0xLjEgMC4xLTEuMWMxLjkgMC4xIDIuOSAyIDIuOSAyYzEuNyAyLjkgNC41IDIuMSA1LjUgMS42IGMwLjItMS4yIDAuNy0yLjEgMS4yLTIuNmMtNC4yLTAuNS04LjctMi4xLTguNy05LjRjMC0yLjEgMC43LTMuNyAyLTUuMWMtMC4yLTAuNS0wLjgtMi40IDAuMi01YzAgMCAxLjYtMC41IDUuMiAyIGMxLjUtMC40IDMuMS0wLjcgNC44LTAuN2MxLjYgMCAzLjMgMC4yIDQuNyAwLjdjMy42LTIuNCA1LjItMiA1LjItMmMxIDIuNiAwLjQgNC42IDAuMiA1YzEuMiAxLjMgMiAzIDIgNS4xYzAgNy4zLTQuNSA4LjktOC43IDkuNCBjMC43IDAuNiAxLjMgMS43IDEuMyAzLjVjMCAyLjYgMCA0LjYgMCA1LjJjMCAwLjUgMC40IDEuMSAxLjMgMC45YzcuNS0yLjYgMTMtOS43IDEzLTE4LjFDNTEgMjEuOSA0Mi41IDEzLjQgMzIgMTMuNHoiLz48L3N2Zz4=);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.github span > strong {
  display: block;
  font-size: 16px;
}
.github_stars {
  position: relative;
  margin: 0 20px 0 10px;
}
.github_stars:after {
  content: '';
  display: block;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  height: 12px;
  position: absolute;
  right: -14px;
  top: 10px;
}

.sponsors {
  margin: 15px 0;
}
.sponsor {
  background: rgba(0, 0, 0, 0.05);
  padding: 15px;
  margin: 5px 0;
  border-radius: 4px;
}
.sponsor:after {
  content: '';
  display: table;
  clear: both;
}
.sponsor img {
  width: 48px;
  vertical-align: middle;
}
.sponsor > a.image {
  float: left;
  border-bottom: none;
}
.sponsor > .text {
  overflow: hidden;
  padding-left: 10px;
  vertical-align: middle;
  max-width: calc(100% - 60px);
}
.sponsor > .text > a {
  color: var(--color-heading);
  border-bottom: 1px solid rgba(0,0,0,.26);
}
.sponsor > .text > a:hover {
  color: var(--color-primary);
}
.t-content .sponsor,
.t-content .sponsor > .text {
  display: inline-block;
}
.t-content .sponsor img {
  width: auto;
  height: 40px;
}
.t-content .sponsor > a.image {
  display: inline-block;
  float: none;
}
